<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bases.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/header.css') }}" />
    <link rel="stylesheet"type="text/css" href="{{url_for('static', filename='./css/dashboard.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Alumni+Sans+Pinstripe:ital@1&family=Montserrat:wght@200;400&family=Mukta&family=Nunito:wght@300&family=Roboto:wght@300&family=Signika+Negative:wght@700&family=Spectral:ital,wght@1,200&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bases.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/footer.css') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Welcome Swapper</title>
</head>
<body class="container">
    
        <header>

            <div class="navbar">
                <img src="../static/images/logo ajuste.jpeg" alt="logo" class="logo">
                
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" placeholder="The best experiences...." />
                </div>
                    <li>
                        <a href="/mismatchs">My Matches</a>
                    </li>
                    
                    
                    <li class="nav-item">
                        <a href="/logout" class="btn btn-outline-success btn-md nav__bar_links_active">Log out</a> <!--   Revisar ruta? -->
                    </li>
                </input>
            </div>
        </header>
      
        <main>
            <!-- Formulario con filtros de busqueda -->
            <div class="filtros">
                <div class="subfliltros">
                    <li>
                        <a href="/usuarios" class="subt">Location</a>  <!-- Show the number of users in chosen location -->
                        <select class="form-select service_city_select" id="service_city" name="service_city">
                            <option value="" selected="selected"><b>--Choose--</b></option>
                            <option class="1">Bogotá DC</option>
                            <option value="2">Medellin</option>
                            <option value="3">Cali</option>
                            <option value="4">Bucaramanga</option>
                            <option value="5">Santa Marta</option>
                            <option value="6">Remote</option>
                        </select>
                    </li> 
                </div>
               <div class="subfliltros">
                    <li>
                        <a href="#" class="subt">What to do?</a>
                        <select class="form-select type_service_select" id="type_service" name="type_service">
                            <option value="" selected="selected"><b>--Let's Fun--</b></option>
                            <option value="1">Dance classes</option>
                            <option value="2">Repairs</option>
                            <option value="3">Image consulting</option>
                            <option value="4">Removals</option>
                            <option value="5">Practice sports</option>
                            <option value="6">Others</option>
                        </select>
                    </li>
               </div>
               <div class="subfliltros">
                    <li>
                        <a><label for="date_made">Let's go</label></a>
                        <input type="date" class="form-control date_service_select" id="date_service"
                            name="date_service">
                    </li>
               </div>  
            </div>

            <h3>LET'S DISCOVER WITH US!</h3>
            <div class="mostrar_contenido">
                <div class="row">
                    <div class="col-6">
                        {% if filter_city != Null %}

                        {% for service in filter_city %}
                            <div class="card-deck">
                                <div class="card">
                                    
                                    <div class="card-body">
                                    <h5 class="card-title">{service.name}}</h5>
                                    <p class="card-text">{service.description}</p>
                                    {% if service.type_service == 1%}
                                    Dancing
                                    {% endif %}
                                    {% if service.type_service == 2%}
                                    Photography
                                    {% endif %}
                                    {% if service.type_service == 3%}
                                    Sports
                                    {% endif %}
                                    {% if service.type_service == 4%}
                                    Arts
                                    {% endif %}
                                    {% if service.type_service == 5%}
                                    Cooking
                                    {% endif %}
                                    {% if service.type_service == 6%}
                                    Teaching
                                    {% endif %}
                                    {% if service.type_service == 7%}
                                    Music
                                    {% endif %}
                                    {% if service.type_service == 8%}
                                    Coding
                                    {% endif %}
                                    {% if service.type_service == 9%}
                                    Others
                                    {% endif %}
                                </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Posted in {{created_at}}</small>
                                        <small class="text-muted">Posted by: {{service.first_name}}</small>
                                </div>
                            </div>      
                        {% endfor %}
                        {% endif %}
        
                        {% if filter_type != Null %}
        
                        {% for service in filter_type %}
                          
                            <div class="card-deck">
                                <div class="card">
                                    
                                    <div class="card-body">
                                    <h5 class="card-title">{service.name}}</h5>
                                    <p class="card-text">{service.description}</p>
                                    {% if service.type_service == 1%}
                                    Dancing
                                    {% endif %}
                                    {% if service.type_service == 2%}
                                    Photography
                                    {% endif %}
                                    {% if service.type_service == 3%}
                                    Sports
                                    {% endif %}
                                    {% if service.type_service == 4%}
                                    Arts
                                    {% endif %}
                                    {% if service.type_service == 5%}
                                    Cooking
                                    {% endif %}
                                    {% if service.type_service == 6%}
                                    Teaching
                                    {% endif %}
                                    {% if service.type_service == 7%}
                                    Music
                                    {% endif %}
                                    {% if service.type_service == 8%}
                                    Coding
                                    {% endif %}
                                    {% if service.type_service == 9%}
                                    Others
                                    {% endif %}
                                </div>
                                    <div class="card-footer">
                                    <small class="text-muted">Posted in {{created_at}}</small>
                                    <small class="text-muted">Posted by: {{service.first_name}}</small>
                                </div>
                            </div>      
                        {% endfor %}
                        {% endif %}
        
                        {% for service in all_services %}
                        
                            <div class="card-deck">
                                <div class="card">
                                    
                                    <div class="card-body">
                                    <h5 class="card-title">{service.name}}</h5>
                                    <p class="card-text">{service.description}</p>
                                    {% if service.type_service == 1%}
                                    Dancing
                                    {% endif %}
                                    {% if service.type_service == 2%}
                                    Photography
                                    {% endif %}
                                    {% if service.type_service == 3%}
                                    Sports
                                    {% endif %}
                                    {% if service.type_service == 4%}
                                    Arts
                                    {% endif %}
                                    {% if service.type_service == 5%}
                                    Cooking
                                    {% endif %}
                                    {% if service.type_service == 6%}
                                    Teaching
                                    {% endif %}
                                    {% if service.type_service == 7%}
                                    Music
                                    {% endif %}
                                    {% if service.type_service == 8%}
                                    Coding
                                    {% endif %}
                                    {% if service.type_service == 9%}
                                    Others
                                    {% endif %}
                                </div>
                                    <small class="text-muted">Posted in {{created_at}}</small>
                                    <small class="text-muted">Posted by: {{service.first_name}}</small>
                                </div>
                            </div>      
                        {% endfor %}        

                    </div>

                </div>

                <div class="col-6">
                    <div class="row1">
                        <img src="../static/images/comida.jpg" alt="pinterest" class="foto">
                        <img src="../static/images/baile.jpg" alt="pinterest" class="foto">
                        
                    </div>
                    <div class="row1">
                        <img src="../static/images/clases.jpg" alt="pinterest" class="foto">
                        <img src="../static/images/paseoperro.jpg" alt="pinterest" class="foto">
                        
                    </div>
                    
                </div>
                
            </div>
        </main>

        <footer class="rodapePrincipal">
            <div class="container">
                <section class="rodapePrincipal-navMap">
                    <h3 class="subtitulo ms-5 fs-5">Site Map</h3>
                    <hr class="line__footer_separator">
                    <nav class="rodapePrincipal-navMap-list d-flex flex-row justify-content-around">
                        <div class="d-flex flex-column">
                            <h4 class="navmap-list-title navmap-list-title-backend">Swappers</h4>
                            <a class="rodapePrincipal-navMap-link" href="#experiences">Experiences</a>
                            <a class="rodapePrincipal-navMap-link" href="#explore_services">Professional services</a>
                            <a class="rodapePrincipal-navMap-link" href="#explore_services">Business</a>
                            <a class="rodapePrincipal-navMap-link" href="#explore_services">Houses</a>
                            <a class="rodapePrincipal-navMap-link" href="#explore_services">Tickets and events</a>
                            <a class="rodapePrincipal-navMap-link" href="#explore_services">Hobbies</a>
                        </div>
                        <div class="d-flex flex-column">
                            <h4 class="navmap-list-title navmap-list-title-frontend">Company</h4>
                            <a class="rodapePrincipal-navMap-link" href="#faq">About us</a>
                            <a class="rodapePrincipal-navMap-link" href="#">Confidence</a>
                            <a class="rodapePrincipal-navMap-link" href="#">Jobs</a>
                            <a class="rodapePrincipal-navMap-link" href="#">Discover Swappers</a>
                        </div>
                        <div class="d-flex flex-column">
                            <h4 class="navmap-list-title navmap-list-title-framework">Media</h4>
                            <a class="rodapePrincipal-navMap-link" href="#">Blog</a>
                            <a class="rodapePrincipal-navMap-link" href="#">Press</a>
                            <a class="rodapePrincipal-navMap-link" href="#">Facebook</a>
                            <a class="rodapePrincipal-navMap-link" href="#">Instagram</a>
                            <a class="rodapePrincipal-navMap-link" href="#">Youtube</a>
                        </div>
                        <div class="d-flex flex-column">
                            <h4 class="navmap-list-title navmap-list-title-bancoDeDados">Help & Support</h4>
                            <a class="rodapePrincipal-navMap-link" href="#faq">How does it work?</a>
                            <a class="rodapePrincipal-navMap-link" href="#faq">FAQ</a>
                            <a class="rodapePrincipal-navMap-link" href="#faq">Contact us</a>
                        </div>
                    </nav>
                </section>
            </div>
            <section class="rodapePrincipal-patrocinadores footer bg-white">
                <div class="container d-flex flex-row justify-content-between align-items-center">
                    <ul class="rodapePrincipal-patrocinadores-list">
                        <li>
                            <a class="rodapePrincipal-patrocinadores-list-link patrocinadores-list-link-alura" href="#">
                                <img src="{{ url_for('static', filename = 'imgs/logo.jpeg') }}" alt="Logo swappers" style="height: 120px;">
                            </a>
                        </li>
                    </ul>
                    <form class="rodapePrincipal-contatoForm" action="#">
                        <fieldset class="d-flex flex-row align-items-center">
                            <legend class="rodapePrincipal-contatoForm-legend label fs-5 fw-700 me-2 mt-2" for="email-contato">Get in touch
                            </legend>
                            <div class="rodapePrincipal-contatoForm-fieldset d-flex flex-row align-items-center">
                                <input class="rodapePrincipal-contatoForm-emailInput rounded" type="email" name="email-contato"
                                    id="email-contato">
                                <button class="rodapePrincipal-contatoForm-submit btn btn-outline-success fw-800" style="width: 120px; height: 40px;" type="submit">Send</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </section>
        </footer>
        <script src="https://code.jquery.com/jquery-2.1.3.js"
            integrity="sha256-goy7ystDD5xbXSf+kwL4eV6zOPJCEBD1FBiCElIm+U8=" crossorigin="anonymous" type="text/javascript">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
       
</body>
</html>